RewriteEngine On

# Si le fichier/dossier existe, Apache le sert directement
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Sinon, tout passe par index.php (front controller)
RewriteRule ^ index.php [QSA,L]
